:root {
  --blue: #1a73e8;
  --blue-one: rgba(26, 115, 232, 0.37);
  --dark-blue: #174ea6;
  --light-dark-blue: #185abc;
  --light-blue: #f3f8ff;
  --green: #1e8e3e;
  --light-green: #e6f4ea;
  --red: #ea4335;
  --light-red: rgba(234, 67, 53, 0.54);
  --border-color: #dadce0;
  --input-border-color: rgba(0, 0, 0, 0.28);
  --input-border-color-focus: rgba(0, 0, 0, 0.58);
  --text-color: #202124;
  --body-color: rgba(241, 243, 244, 1);
  --body-color-light: rgba(241, 243, 244, 5);
  --subtitle-color: #3c4043;
  --subtitle1-color: #333;
  --subtitle2-color: #9aa0a6;
  --description-color: #828282;
  --white: #fff;
  --black: #000;

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-contrast-high);
  background-color: var(--body-color);
  overflow-x: hidden;
  min-width: 320px;
  line-height: 1.5;
  font-size: 16px;

  /* Styles to prevent body scroll when modal is open */
  &.scrolling-effect {
    position: relative;
    width: calc(100% - 17px);
    overflow: hidden;
  }
}

/**
 * Fonts
 */

.text-xl {
  font-size: 28px;
}
.text-lg {
  font-size: 18px;
}
.text-md {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
  letter-spacing: 0.2px;
}
.text-xs {
  font-size: 12px;
  letter-spacing: 0.3px;
}
.text-xxs {
  font-size: 11px;
  letter-spacing: 0.8px;
}

.title {
  font-size: 28px;
}

.subtitle {
  font-size: 18px;
  color: var(--subtitle-color);
  line-height: 24px;
  font-weight: 400;
}

.subtitle1 {
  font-size: 16px;
  color: var(--subtitle1-color);
  line-height: 24px;
  font-weight: 500;
}

.subtitle2 {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--subtitle2-color);
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.body,
label,
th,
.rc-dialog-body,
.rc-tabs-tab {
  font-weight: 400;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
}

.description,
td {
  font-size: 14px;
  color: var(--description-color);
  letter-spacing: 0.2px;
}

.help,
.text-muted {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 16px;
}

a,
a:hover,
a:active,
a:visited,
.link {
  color: var(--blue);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 14px !important;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Colors
 */

.blue {
  color: var(--blue) !important;
}

.bg-blue {
  background-color: var(--blue);
}

.light-blue {
  color: var(--light-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.light-green {
  color: var(--light-green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.border {
  border-color: var(--border-color);
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.text-color {
  color: var(--text-color) !important;
}

.bg-text-color {
  background-color: var(--text-color);
}

.subtitle-color {
  color: var(--subtitle-color);
}

.bg-subtitle {
  background-color: var(--subtitle-color);
}

.subtitle1-color {
  color: var(--subtitle-color);
}

.bg-subtitle1 {
  background-color: var(--subtitle1-color);
}

.subtitle2-color {
  color: var(--subtitle2-color);
}

.bg-subtitle2 {
  background-color: var(--subtitle2-color);
}

.border-color {
  color: var(--border-color);
}

.bg-border {
  background-color: var(--border-color);
}

.description-color {
  color: var(--description-color);
}

.bg-description {
  background-color: var(--description-color);
}

/**
* Forms
 */

textarea {
  resize: none;
}

label {
  line-height: normal;
}

.invalid-feedback {
  color: var(--red);
}

.form-control,
.rc-picker-input input {
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
  transition: all 0.3s ease;
  border-radius: var(--radius-sm);
  height: auto;
  line-height: 1.55;
  padding: 0.5em 0.75em;

  &.form-control-sm {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    line-height: 1;
  }

  &:hover {
    border-color: var(--input-border-color-focus);
  }

  &:focus {
    border-color: var(--blue);
    box-shadow: 0px 0px 0px 1px var(--blue);
    outline: none;
  }

  &.is-invalid {
    border-color: var(--red);
    background: none;

    &:hover {
      border-color: var(--red);
    }

    &:focus {
      box-shadow: 0px 0px 0px 1px var(--red);
    }

    & ~ label {
      color: var(--red);
    }
  }
}

.form-group {
  position: relative;

  &.form-group--floating {
    .form-control {
      padding-left: 0.95em;
    }

    label {
      position: absolute;
      top: 0;
      left: 0.95em;
      display: block;
      width: 100%;
      margin-bottom: 0;
      pointer-events: none;
      cursor: text;
      transition: all 0.3s ease;
      line-height: 1.75;
      padding-top: 0.7em;

      span {
        padding: 0 0.35em;
        background-color: var(--white);
      }
    }

    .form-control:not(:placeholder-shown),
    .form-control:focus {
      & ~ label {
        font-size: 12px;
        letter-spacing: 0.52px;
        top: calc(-0.75em * 2);
      }
    }

    .form-control:not(.is-invalid):focus {
      & ~ label {
        color: var(--blue);
      }
    }
  }

  .rc-select-single {
    & + label {
      position: absolute;
      top: -0.55em;
      left: 0.85em;
      margin-bottom: 0;
      background-color: var(--white);
      padding: 0 0.35em;
      font-size: 12px;
    }

    &.rc-select-focused {
      & + label {
        color: var(--blue);
      }
    }
  }

  /* RC-Select */
  .rc-select-single:not(.rc-select-customize-input) {
    width: 100%;
    &.rc-select-focused {
      .rc-select-selector {
        border-color: var(--blue) !important;
        box-shadow: 0px 0px 0px 1px var(--blue);
        outline: none;
      }
    }

    .rc-select-selector {
      border: 1px solid var(--input-border-color);
      transition: all 0.3s ease;
      padding-top: 0.563em;
      padding-bottom: 0.563em;
      padding-left: 0.75em;
      padding-right: 3em;
      border-radius: 0.25em;
      height: auto;
      line-height: 1.55;
      max-height: 42px;
      height: 42px;
      cursor: pointer;

      .rc-select-selection-search-input {
        cursor: pointer;
      }

      &:hover {
        border-color: var(--input-border-color-focus);
      }

      .rc-select-selection-item,
      .rc-select-selection-placeholder {
        position: absolute;
        top: 0.5em;
        left: 0.75em;
        pointer-events: none;
      }
    }

    .rc-select-clear {
      width: 32px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      right: 32px;
      top: -3px;
      bottom: 0;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: var(--body-color);
        top: 50%;
        transform: translate(-50%, calc(-50% + 2px)) scale(0);
        left: 50%;
        z-index: 0;
        transition: transform 0.3s ease;
      }

      &:hover {
        &:before {
          transform: translate(-50%, calc(-50% + 2px)) scale(1);
        }
      }

      .rc-select-clear-icon {
        font-size: 23px;
        color: var(--subtitle1-color);
        font-weight: 300;
        z-index: 1;
      }
    }

    &.rc-select-show-arrow {
      .rc-select-arrow {
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .rc-select-arrow-icon {
          position: relative;
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg class='bi bi-chevron-down' width='20px' height='20px' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            background-size: 16px;
            background-position: 50% 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            content: "";
            border: none;
            width: 24px;
            height: 12px;
            position: relative;
            top: -2px;
            bottom: 0;
            display: inline-block;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &.rc-select-open {
        .rc-select-arrow-icon {
          &:after {
            transform: rotate(180deg);
            transform-origin: center center;
          }
        }
      }
    }
  }
}

.rc-select-dropdown {
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  min-height: 50px;
  position: absolute;
  box-shadow: var(--shadow-md);
  background: var(--white);
  transition: visibility 0s, opacity 0.2s;
  padding: 0.5em 0;
  z-index: 1040;

  .rc-select-item {
    cursor: pointer;
    user-select: none;
    padding: 0.5em 0.75em;

    &.rc-select-item-option {
      &.rc-select-item-option-selected {
        background-color: var(--light-blue);
        color: var(--subtitle1-color);

        .rc-select-item-option-state {
          .rc-select-item-option-state-icon {
            font-size: 0;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              height: 16px;
              width: 16px;
              right: 16px;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%231a73e8' d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
      }

      &.rc-select-item-option-active:not(.rc-select-item-option-selected) {
        background-color: var(--body-color);
      }
    }
  }
}

/* Hide placeholder on floating label */
.form-group--floating input::-webkit-input-placeholder {
  color: transparent;
}

.form-group--floating input:-ms-input-placeholder {
  color: transparent;
}

.form-group--floating input::-ms-input-placeholder {
  color: transparent;
}

.form-group--floating input::-moz-placeholder {
  color: transparent;
}

.form-group--floating input:-moz-placeholder {
  color: transparent;
}

.form-group--floating input::placeholder {
  color: transparent;
}

/**
 * Buttons
 */
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 36px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 0 0.75em;
  min-width: 84px;
  border-radius: var(--radius-sm);
  transition: all 0.3s ease;

  &.btn-radio {
    border-radius: 10em;
  }

  /* Size */
  &.btn-sm {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    height: 32px;
  }

  &.btn-md {
    font-size: 16px;
    height: auto;
    padding: 0.9em 1.2em;
  }

  &.btn-lg {
    font-size: 18px;
  }

  /* Link */
  &.btn-link {
    color: var(--blue);
    letter-spacing: 0.7px;
    box-shadow: none;
    background-color: transparent;
    font-weight: 500;

    &:hover,
    &:focus {
      background-color: var(--light-blue);
      text-decoration: none;
    }

    /* Text */
    &.btn-text {
      color: var(--black);

      &:hover,
      &:focus {
        background-color: var(--body-color);
      }
    }
  }

  /* Active */
  &:active {
    transform: translateY(2px);
    box-shadow: none !important;
  }

  /* Outline */
  &[class*="btn-outline"] {
    border-width: 1px;
    font-weight: 500;
    box-shadow: none;
  }

  /* Secondary */
  &.btn-secondary,
  &.btn-outline-secondary {
    border-color: var(--input-border-color);
    background-color: var(--white) !important;

    &:hover {
      background-color: var(--light-blue);
      border-color: var(--blue);
      box-shadow: none;
    }

    &:active {
      background-color: var(--light-blue) !important;
      border-color: var(--blue) !important;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px !important;
    }

    &:focus {
      background-color: var(--light-blue) !important;
      border-color: var(--blue);
      box-shadow: none !important;
    }
  }

  /* Primary */
  &.btn-primary,
  &.btn-outline-primary {
    &:not(.btn-outline-primary) {
      background-color: var(--blue);
      border-color: var(--blue);
    }

    &:hover {
      background-color: var(--blue);
      border-color: var(--blue);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    }

    &:focus {
      color: var(--white);
      background-color: rgba(26, 115, 232, 0.9);
      border-color: rgba(26, 115, 232, 0.9);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px !important;
    }
  }

  /* Icon inside btn */
  svg {
    margin-right: 0.75em;
  }

  & + .btn {
    margin-left: 1em;
  }
}

/**
 * Checkbox / Radiobutton
 */
.custom-control {
  margin-bottom: 1em;
  padding-left: 0;
  padding-right: 0.5em;

  &.custom-control-inline {
    margin-right: 1em;
  }

  /* Input */
  .custom-control-input {
    &:focus {
      & + .custom-control-label {
        &:after {
          transform: translateY(-48%) scale(0.9);
        }
        &:before {
          border-color: var(--input-border-color-focus);
          background-color: transparent;
          box-shadow: none;
          z-index: 1;
        }
      }
    }

    &:active {
      & + .custom-control-label {
        &:before {
          background-color: transparent;
          box-shadow: none;
          border-color: var(--input-border-color);
        }
      }
    }

    /* Checkbox */
    &:checked {
      & + .custom-control-label {
        &:before {
          background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PGcgY2xhc3M9J25jLWljb24td3JhcHBlcicgc3Ryb2tlLXdpZHRoPScyJyBmaWxsPScjZmZmZmZmJyBzdHJva2U9JyNmZmZmZmYnPjxwb2x5bGluZSBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBwb2ludHM9JzEsOSA1LDEzIDE1LDMgJyBkYXRhLWNhcD0nYnV0dCc+PC9wb2x5bGluZT48L2c+PC9zdmc+);
          background-repeat: no-repeat;
          background-size: 12px;
          background-color: var(--blue);
          box-shadow: none;
          border-color: var(--blue);
        }
      }
    }

    &:checked:active,
    &:checked:focus {
      & + .custom-control-label {
        &:after {
          transform: translateY(-48%) scale(0.9);
        }

        &:before {
          transform: none;
          transition: none;
          border-color: var(--blue);
          box-shadow: none;
          z-index: 1;
        }
      }
    }
  }

  /* Label */
  .custom-control-label {
    display: inline-flex;
    align-items: baseline;
    line-height: var(--text-color);
    user-select: none;
    cursor: pointer;
    font-size: 1.1rem;

    &:after {
      display: inline-block;
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      left: -10px;
      top: 50%;
      background-size: 16px;
      background-color: var(--blue);
      box-shadow: none;
      opacity: 0.15;
      transform-origin: center;
      transform: translateY(-48%) scale(0);
      z-index: 0;
      transition: all 0.3s ease-in-out;
    }

    &:before {
      content: "";
      position: relative;
      top: 0.25rem;
      left: auto;
      border-radius: var(--radius-sm);
      display: inline-block;
      vertical-align: middle;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      background-color: var(--white);
      border-width: 2px;
      border-color: var(--input-border-color);
      border-style: solid;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center;
      transition: border 0.2s, -webkit-transform 0.2s;
      transition: transform 0.2s, border 0.2s;
      transition: transform 0.2s, border 0.2s, -webkit-transform 0.2s;
      z-index: 1;
    }

    &:hover {
      &:before {
        border-color: var(--input-border-color-focus);
        z-index: 1;
      }
    }
  }

  /* Radio */
  &.custom-radio {
    .custom-control-input {
      &:checked {
        & + .custom-control-label {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Ccircle fill='hsl(220, 90%25, 56%25)' cx='12' cy='12' r='5'/%3E%3C/svg%3E");
            background-size: 24px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: var(--white);
            box-shadow: none;
            border-color: var(--blue);
          }
        }
      }

      &:focus {
        & + .custom-control-label {
          &::before {
            box-shadow: none;
          }
        }
      }
    }

    .custom-control-label {
      &:before {
        border-radius: 50%;
      }
    }
  }
}

/**
 * Choice Tag
 */
.choice-tag {
  padding-left: 0;
  padding-right: 0.25em;
  transition: all 0.3s ease-in-out;

  &.custom-control-inline,
  &.inline {
    display: inline-block;
    margin-right: 0.5em;
  }

  &.custom-radio {
    &.choice-tag--small {
      .custom-control-label {
        padding: 0.5em 0.7em;
      }
    }

    &.choice-tag--xs {
      &.custom-control-inline {
        margin-right: 0.25em;
      }
      .custom-control-label {
        padding: 0.5em;
        font-size: 1em;
      }
    }

    &.choice-tag--icon {
      svg {
        min-width: 20px;
        min-height: 20px;
        margin-right: 0.75em;
        fill: var(--subtitle-color);
      }

      .custom-control-label {
        max-height: 48px;
        height: auto;

        &:before {
          display: none;
        }
      }
    }

    &:not(.outlined) {
      .custom-control-label {
        &:hover {
          border-color: var(--border-color);
        }
      }
    }

    &.outlined {
      .custom-control-label {
        background-color: var(--white);
        border-color: var(--input-border-color);
      }
    }

    &.primary.outlined,
    &.primary:not(.outlined) {
      .custom-control-input:checked {
        & + .custom-control-label {
          color: var(--blue);
          svg {
            path {
              fill: var(--blue) !important;
            }
          }
        }
      }
    }

    &.pill {
      .custom-control-label {
        border-radius: 50em;
      }
    }

    .custom-control-label {
      display: inline-flex;
      align-items: center;
      padding: 0.7em;
      border-radius: var(--radius-md);
      border: 1px solid transparent;
      background-color: var(--body-color);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: 0.2s;
      transition: all 0.3s ease-in-out;
      color: var(--description-color);
      line-height: 16px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.25px;
      height: 38px;

      &:hover {
        border-color: var(--input-border-color-focus);
      }

      &:after {
        display: none;
      }

      &:before {
        content: "";
        position: relative;
        left: auto;
        top: 0;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        background-color: var(--white);
        border-width: 2px;
        border-color: var(--input-border-color);
        border-style: solid;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center;
        transition: border 0.2s, -webkit-transform 0.2s;
        transition: transform 0.2s, border 0.2s;
        transition: transform 0.2s, border 0.2s, -webkit-transform 0.2s;
      }
    }

    // primary outlined
    &.primary.outlined {
      .custom-control-input {
        &:checked {
          & + .custom-control-label {
            border-color: var(--blue);
          }
        }

        &:focus {
          & + .custom-control-label {
            background-color: var(--light-blue);
            border-color: var(--blue);
            box-shadow: 0px 0px 0px 1px var(--blue);
          }
        }
      }
    }

    &.primary.blue {
      .custom-control-input {
        &:checked {
          & + .custom-control-label {
            color: var(--blue) !important;
          }
        }
      }
    }

    // primary plain
    &.primary:not(.outlined) {
      .custom-control-input {
        &:checked {
          & + .custom-control-label {
            border-color: var(--light-blue);
            background-color: var(--light-blue);
            color: var(--blue);
          }
        }

        & + .custom-control-label {
          &:hover {
            border-color: var(--border-color);
          }
        }

        &:focus {
          & + .custom-control-label {
            background-color: var(--light-blue);
            border-color: var(--blue);
            box-shadow: 0px 0px 0px 1px var(--blue);
          }
        }
      }
    }

    .custom-control-input {
      &:checked {
        & + .custom-control-label {
          transition: all 0.3s ease-in-out;
          border-color: var(--input-border-color-focus);
          background-color: var(--white);
          color: var(--text-color);

          &:before {
            box-shadow: none;
          }
        }
      }

      // &:active,
      &:focus {
        & + .custom-control-label {
          background-color: var(--white);
          border-color: var(--input-border-color-focus);
          box-shadow: 0px 0px 0px 1px var(--input-border-color-focus);

          &:before {
            box-shadow: none;
          }
        }
      }
    }
  }

  &.choice-tag-check {
    display: inline-block;
    margin-bottom: 1em;

    & + .choice-tag-check {
      margin-left: 0.5em;
    }

    &.custom-radio {
      transition: all 0.3s ease-in-out;

      .custom-control-label {
        transition: all 0.3s ease-in-out;
        height: 38px;

        &:before {
          width: 0;
          height: 24px;
          border-radius: 0;
          background-color: transparent;
          border: 0;
          margin: 0;
          box-shadow: none;
          transition: all 0.3s ease-in-out;
        }
      }

      .custom-control-input {
        &:checked {
          & + .custom-control-label {
            &:before {
              height: 24px;
              box-shadow: none;
              background-color: transparent;
              width: 24px;
              margin-right: 0.5em;
              background-image: url("data:image/svg+xml,%3Csvg class='bi bi-check2' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' fill='hsl(220, 90%25, 56%25)' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
    }
  }
}

/**
 * Dropdown
 */
.dropdown-menu {
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  background: var(--white);
  transition: visibility 0s, opacity 0.2s;
  padding: 0.5em 0;

  .dropdown-item {
    cursor: pointer;
    user-select: none;
    padding: 0.5em 0.75em;
    color: var(--subtitle1-color);
    font-weight: 400;

    &:hover {
      background-color: var(--body-color);
      text-decoration: none;
      font-weight: 400;
      color: var(--text-color);
    }

    &:active,
    &:focus {
      outline: none;
      background-color: var(--light-blue);
      color: var(--blue);
    }
  }
}

.dropdown-toggle::after {
  margin-left: 8px;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
}

/**
 * Lists
 */
.list-group {
  &.list-group--options {
    .list-group-item {
      padding: 0;
      border: 0 none;

      .custom-radio {
        margin-bottom: 0;
        padding-right: 0;

        .custom-control-label {
          display: flex;
          align-items: center;
          font-size: inherit;
          display: block;
          padding: 0.5em 0.75em;
          transition: all 0.2s ease;

          &:before {
            top: auto;
            left: auto;
            border-color: transparent;
            margin-right: 0.5em;
            background-color: transparent;
            height: 24px;
            width: 24px;
            box-shadow: none;
          }

          &:after {
            display: none;
          }

          &:hover {
            background-color: var(--body-color);
          }

          &:focus {
            outline: 1px solid red;
          }
        }

        &,
        medium {
          .custom-control-label {
            padding-top: 0.55em;
            padding-bottom: 0.55em;
          }
        }
      }

      .custom-control-input {
        &:checked {
          & + .custom-control-label {
            background-color: var(--light-blue);
            color: var(--blue);

            &:before {
              background-image: url("data:image/svg+xml,%3Csvg class='bi bi-check2' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' fill='hsl(220, 90%25, 56%25)' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
    }
  }
}

/**
 * Card
 */
.card {
  box-shadow: 0;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  transition: all 0.3s ease;
  border: 1px solid
    hsla(
      var(--color-contrast-low-h),
      var(--color-contrast-low-s),
      var(--color-contrast-low-l),
      0.5
    );

  &:hover {
    box-shadow: var(--shadow-sm);
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
    padding-left: 1.25em !important;
    padding-right: 1.25em !important;
    background-color: var(--color-bg) !important;
    border-color: transparent;
    color: var(--color-black);
    max-height: 55px;

    /* As button header for keyboard navigation */
    &.card-header--toggle {
      cursor: pointer;
      box-shadow: none !important;

      &:focus,
      &:active {
        background-color: var(--color-bg);
        color: var(--color-black);
        border-color: transparent;
        transform: translateY(0);
      }

      &:focus {
        background-color: hsla(
          var(--color-contrast-lower-h),
          var(--color-contrast-lower-s),
          var(--color-contrast-lower-l),
          0.7
        ) !important;
      }
    }

    .btn:not(.card-header--toggle) {
      padding-left: var(--space-xs);
      padding-right: var(--space-xs);
      font-weight: 500;
      font-size: 0.77rem;
      letter-spacing: 0.02857em;
      text-transform: uppercase;

      svg {
        margin-left: var(--space-xs);
      }
    }
  }

  .card-footer {
    background-color: var(--color-bg);
    border-color: transparent;
    display: flex;
    align-items: center;
    padding-top: var(--space-xxs);

    &:last-child {
      border-radius: var(--radius-md);
    }
  }

  .card-body {
    background-color: var(--color-bg);
  }

  .card-title,
  .card-header--toggle {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
  }
}

/**
 * Tabs
 */
.nav-tabs {
  border-bottom: 1px solid transparent;

  .nav-item {
    transition: all 0.2s ease;

    &.nav-link {
      text-transform: uppercase;
      border-bottom-width: 2px;
      color: var(--color-contrast-medium);
      padding: var(--space-xxxs) var(--space-md);
      font-size: 0.95em;
      letter-spacing: 0.0892857143em;
      line-height: 2.25rem;
      font-size: 0.875rem;
      font-weight: 500;

      &:hover {
        background-color: var(--color-contrast-lower);
        border-color: transparent;
        color: var(--color-contrast-high);
      }

      &:active,
      &:focus {
        outline: none;
        border-color: transparent;
        background-color: var(--color-contrast-lower);
      }

      &.active {
        border-color: transparent transparent var(--color-primary);
        color: var(--color-contrast-higher);
      }

      &.disabled {
        color: var(--color-contrast-low);
        cursor: none;
      }

      svg {
        margin-right: var(--space-sm);
      }
    }
  }

  &.primary {
    .nav-item {
      &.nav-link {
        &.active {
          border-color: transparent transparent var(--color-primary);
          color: var(--color-primary);
        }
      }
    }
  }
}

.tab-content {
  padding-top: var(--space-sm);
}

/**
 * Table
 */
.table {
  th {
    border-top: 0;
    border-bottom-width: 1px !important;
    background-color: var(--body-color);
    font-weight: 500;
    letter-spacing: 0.8px;
  }

  td,
  th {
    vertical-align: middle;

    p {
      margin: 0;
    }
  }

  &.table-hover {
    tbody {
      tr {
        transition: all 0.1s ease;
        &:hover {
          background-color: var(--light-blue);
        }
      }
    }
  }
}
