:root {
  /* Body */
  --body-line-height: 1.4;

  --color-primary-darker: hsl(220, 90%, 42%);
  --color-primary-darker-h: 220;
  --color-primary-darker-s: 90%;
  --color-primary-darker-l: 42%;
  --color-primary-dark: hsl(220, 90%, 49%);
  --color-primary-dark-h: 220;
  --color-primary-dark-s: 90%;
  --color-primary-dark-l: 49%;
  --color-primary: hsl(220, 90%, 56%);
  --color-primary-h: 220;
  --color-primary-s: 90%;
  --color-primary-l: 56%;
  --color-primary-light: hsl(220, 90%, 63%);
  --color-primary-light-h: 220;
  --color-primary-light-s: 90%;
  --color-primary-light-l: 63%;
  --color-primary-lighter: hsl(220, 90%, 70%);
  --color-primary-lighter-h: 220;
  --color-primary-lighter-s: 90%;
  --color-primary-lighter-l: 70%;
  --color-accent-darker: hsl(349, 75%, 36%);
  --color-accent-darker-h: 349;
  --color-accent-darker-s: 75%;
  --color-accent-darker-l: 36%;
  --color-accent-dark: hsl(349, 75%, 44%);
  --color-accent-dark-h: 349;
  --color-accent-dark-s: 75%;
  --color-accent-dark-l: 44%;
  --color-accent: hsl(349, 75%, 51%);
  --color-accent-h: 349;
  --color-accent-s: 75%;
  --color-accent-l: 51%;
  --color-accent-light: hsl(349, 75%, 59%);
  --color-accent-light-h: 349;
  --color-accent-light-s: 75%;
  --color-accent-light-l: 59%;
  --color-accent-lighter: hsl(349, 75%, 67%);
  --color-accent-lighter-h: 349;
  --color-accent-lighter-s: 75%;
  --color-accent-lighter-l: 67%;
  --color-black: hsl(240, 8%, 12%);
  --color-black-h: 240;
  --color-black-s: 8%;
  --color-black-l: 12%;
  --color-white: hsl(0, 0%, 100%);
  --color-white-h: 0;
  --color-white-s: 0%;
  --color-white-l: 100%;
  --color-success-darker: hsl(94, 48%, 42%);
  --color-success-darker-h: 94;
  --color-success-darker-s: 48%;
  --color-success-darker-l: 42%;
  --color-success-dark: hsl(94, 48%, 48%);
  --color-success-dark-h: 94;
  --color-success-dark-s: 48%;
  --color-success-dark-l: 48%;
  --color-success: hsl(94, 48%, 56%);
  --color-success-h: 94;
  --color-success-s: 48%;
  --color-success-l: 56%;
  --color-success-light: hsl(94, 48%, 65%);
  --color-success-light-h: 94;
  --color-success-light-s: 48%;
  --color-success-light-l: 65%;
  --color-success-lighter: hsl(94, 48%, 74%);
  --color-success-lighter-h: 94;
  --color-success-lighter-s: 48%;
  --color-success-lighter-l: 74%;
  --color-error-darker: hsl(349, 75%, 36%);
  --color-error-darker-h: 349;
  --color-error-darker-s: 75%;
  --color-error-darker-l: 36%;
  --color-error-dark: hsl(349, 75%, 44%);
  --color-error-dark-h: 349;
  --color-error-dark-s: 75%;
  --color-error-dark-l: 44%;
  --color-error: hsl(349, 75%, 51%);
  --color-error-h: 349;
  --color-error-s: 75%;
  --color-error-l: 51%;
  --color-error-light: hsl(349, 75%, 59%);
  --color-error-light-h: 349;
  --color-error-light-s: 75%;
  --color-error-light-l: 59%;
  --color-error-lighter: hsl(349, 75%, 67%);
  --color-error-lighter-h: 349;
  --color-error-lighter-s: 75%;
  --color-error-lighter-l: 67%;
  --color-warning-darker: hsl(46, 100%, 47%);
  --color-warning-darker-h: 46;
  --color-warning-darker-s: 100%;
  --color-warning-darker-l: 47%;
  --color-warning-dark: hsl(46, 100%, 50%);
  --color-warning-dark-h: 46;
  --color-warning-dark-s: 100%;
  --color-warning-dark-l: 50%;
  --color-warning: hsl(46, 100%, 61%);
  --color-warning-h: 46;
  --color-warning-s: 100%;
  --color-warning-l: 61%;
  --color-warning-light: hsl(46, 100%, 71%);
  --color-warning-light-h: 46;
  --color-warning-light-s: 100%;
  --color-warning-light-l: 71%;
  --color-warning-lighter: hsl(46, 100%, 80%);
  --color-warning-lighter-h: 46;
  --color-warning-lighter-s: 100%;
  --color-warning-lighter-l: 80%;
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-h: 0;
  --color-bg-s: 0%;
  --color-bg-l: 100%;
  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-lower-h: 0;
  --color-contrast-lower-s: 0%;
  --color-contrast-lower-l: 95%;
  --color-contrast-low: hsl(240, 1%, 83%);
  --color-contrast-low-h: 240;
  --color-contrast-low-s: 1%;
  --color-contrast-low-l: 83%;
  --color-contrast-medium: hsl(240, 1%, 48%);
  --color-contrast-medium-h: 240;
  --color-contrast-medium-s: 1%;
  --color-contrast-medium-l: 48%;
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-high-h: 240;
  --color-contrast-high-s: 4%;
  --color-contrast-high-l: 20%;
  --color-contrast-higher: hsl(240, 8%, 12%);
  --color-contrast-higher-h: 240;
  --color-contrast-higher-s: 8%;
  --color-contrast-higher-l: 12%;

  /* Font */
  --text-base-size: 1.25em;
  --text-scale-ratio: 1.25;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

  /* Shadow / Radius / Ease */
  --radius-sm: calc(var(--radius, 0.25em) / 2);
  --radius-md: var(--radius, 0.25em);
  --radius-lg: calc(var(--radius, 0.25em) * 2);
  --shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  --shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),
    0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
    0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014),
    0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038),
    0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085),
    0 30px 42px -1px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012),
    0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035),
    0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07),
    0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117),
    0 46px 60px -6px rgba(0, 0, 0, 0.2);
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

  /* Space */
  --space-unit: 1.25em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);

  /* Form */
  --form-control-padding-x: var(--space-sm);
  --form-control-padding-y: var(--space-xs);
  --form-control-radius: 0.25em;

  /* Button */
  --btn-font-size: 1em;
  --btn-font-size-sm: 0.8em;
  --btn-font-size-md: 1.2em;
  --btn-font-size-lg: 1.4em;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-xs);

  /* Checkbox / Radio Button */
  --checkbox-radio-size: 1.25em;
  --checkbox-radio-translate-y: 0.15em;
  --checkbox-radio-gap: var(--space-xxxs);
  --checkbox-radio-border-width: 2px;
  --checkbox-radio-line-height: var(--body-line-height);
  --radio-marker-size: 8px;
  --checkbox-marker-size: 12px;
  --checkbox-radius: 0.185em;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-contrast-high);

  /* Styles to prevent body scroll when modal is open */
  &.scrolling-effect {
    position: relative;
    width: calc(100% - 17px);
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**
 * Text
 */
.text-muted {
  color: hsla(
    var(--color-contrast-medium-h),
    var(--color-contrast-medium-s),
    var(--color-contrast-medium-l),
    var(--color-o, 1)
  ) !important;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
  line-height: var(--heading-line-height, 1.2);
}

.h4,
.text-md {
  font-size: var(--text-md, 1.2em);
}

.h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

.h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.subtitle1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.subtitle2 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.body1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.body2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

/**
* Forms
 */

label {
  line-height: normal;
}

.invalid-feedback {
  color: var(--color-error);
}

.form-control {
  background-color: var(--color-bg);
  border: 2px solid var(--color-contrast-low);
  transition: all 0.3s ease;

  padding-top: var(--form-control-padding-y, 0.5em);
  padding-bottom: var(--form-control-padding-y, 0.5em);
  padding-left: var(--form-control-padding-x, 0.75em);
  padding-right: var(--form-control-padding-x, 0.75em);
  border-radius: var(--form-control-radius, 0.25em);
  height: auto;
  line-height: 1.55;

  &:hover {
    border-color: hsl(
      var(--color-contrast-low-h),
      var(--color-contrast-low-s),
      calc(var(--color-contrast-low-l) * 0.85)
    );
  }

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 0px 2px
      hsla(
        var(--color-primary-h),
        var(--color-primary-s),
        var(--color-primary-l),
        0.2
      );
    outline: none;
  }

  &.is-invalid {
    border-color: var(--color-error);
    background: none;

    &:hover {
      border-color: var(--color-error);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px
        hsla(
          var(--color-error-h),
          var(--color-error-s),
          var(--color-error-l),
          0.2
        );
    }

    & ~ label {
      color: var(--color-error);
    }
  }
}

.form-group {
  position: relative;

  &.form-group--floating {
    label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      pointer-events: none;
      cursor: text;
      transition: all 0.3s ease;
      line-height: 1.75;
      padding: var(--form-control-padding-y, 0.5em)
        var(--form-control-padding-x, 0.75em);

      span {
        padding: 0 var(--space-xxs);
        background-color: var(--color-bg);
      }
    }

    .form-control:not(:placeholder-shown),
    .form-control:focus {
      & ~ label {
        padding-top: var(--space-xxxs);
        padding-bottom: var(--space-xxxs);
        font-size: 12px;
        letter-spacing: 0.52px;
        top: calc(-0.75 * var(--space-md));
      }
    }

    .form-control:not(.is-invalid):focus {
      & ~ label {
        color: var(--color-primary);
      }
    }
  } 

  /* RC-Select */
  .rc-select-single:not(.rc-select-customize-input) {
    &.rc-select-focused {
      .rc-select-selector {
        border-color: var(--color-primary) !important;
        box-shadow: 0px 0px 0px 2px
          hsla(
            var(--color-primary-h),
            var(--color-primary-s),
            var(--color-primary-l),
            0.2
          );
        outline: none;
      }
    }

    .rc-select-selector {
      border: 2px solid var(--color-contrast-low);
      transition: all 0.3s ease;
      padding-top: var(--form-control-padding-y, 0.5em);
      padding-bottom: var(--form-control-padding-y, 0.5em);
      padding-left: var(--form-control-padding-x, 0.75em);
      padding-right: var(--space-lg, 3em);
      border-radius: var(--form-control-radius, 0.25em);
      height: auto;
      line-height: 1.55;

      .rc-select-selection-item,
      .rc-select-selection-placeholder {
        position: absolute;
        top: var(--form-control-padding-y, 0.5em);
        left: var(--form-control-padding-x, 0.75em);
        pointer-events: none;
      }
    }

    &.rc-select-show-arrow {
      .rc-select-arrow {
        pointer-events: none;
        position: absolute;
        right: var(--space-sm);
        top: var(--form-control-padding-y, 0.5em);

        .rc-select-arrow-icon {
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg class='bi bi-chevron-down' width='20px' height='20px' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            background-size: var(--space-md);
            background-position: 50% 100%;
            background-color: var(--color-bg);
            background-repeat: no-repeat;
            content: "";
            border: none;
            width: 28px;
            height: 28px;
            display: inline-block;
            transform: none;
          }
        }
      }
    }
  }
}

.rc-select-dropdown {
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius-md);
  min-height: 50px;
  position: absolute;
  box-shadow: var(--shadow-md);
  background: var(--color-bg);
  transition: visibility 0s, opacity 0.2s;
  padding: var(--space-xxs) 0;

  .rc-select-item {
    cursor: pointer;
    user-select: none;
    padding: var(--space-xs) var(--space-lg) var(--space-xs) var(--space-md);

    &.rc-select-item-option {
      &.rc-select-item-option-selected {
        background-color: var(--color-primary);
        color: var(--color-white);

        .rc-select-item-option-state {
          .rc-select-item-option-state-icon {
            font-size: 0;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              height: 16px;
              width: 16px;
              right: 16px;
              background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBvbHlsaW5lIHN0cm9rZS13aWR0aD0nMS41JyBzdHJva2U9JyNmZmZmZmYnIGZpbGw9J25vbmUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgcG9pbnRzPScxLDkgNSwxMyAxNSwzICcvPjwvc3ZnPg==);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
      }

      &.rc-select-item-option-active:not(.rc-select-item-option-selected) {
        background-color: var(--color-contrast-lower);
      }
    }
  }
}

/* Hide placeholder on floating label */
.form-group--floating input::-webkit-input-placeholder {
  color: transparent;
}

.form-group--floating input:-ms-input-placeholder {
  color: transparent;
}

.form-group--floating input::-ms-input-placeholder {
  color: transparent;
}

.form-group--floating input::-moz-placeholder {
  color: transparent;
}

.form-group--floating input:-moz-placeholder {
  color: transparent;
}

.form-group--floating input::placeholder {
  color: transparent;
}

/**
 * Buttons
 */
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  line-height: 1.5;
  font-size: var(--btn-font-size, 1em);
  letter-spacing: 0.52px;
  padding-top: var(--btn-padding-y, 0.5em);
  padding-bottom: var(--btn-padding-y, 0.5em);
  padding-left: var(--btn-padding-x, 0.75em);
  padding-right: var(--btn-padding-x, 0.75em);
  border-radius: var(--btn-radius, 0.25em);
  box-shadow: 0px 2px 8px
      hsla(
        var(--color-black-h),
        var(--color-black-s),
        var(--color-black-l),
        0.12
      ),
    0px 1px 1px
      hsla(
        var(--color-black-h),
        var(--color-black-s),
        var(--color-black-l),
        0.12
      );
  transition: all 0.3s ease;

  /* Size */
  &.btn-sm {
    font-size: var(--btn-font-size-sm, 0.8em);
  }

  &.btn-md {
    font-size: var(--btn-font-size-md, 1.2em);
  }

  &.btn-lg {
    font-size: var(--btn-font-size-lg, 1.4em);
  }

  /* Link */
  &.btn-link {
    color: var(--color-primary);
    box-shadow: none;
    background-color: transparent;
    font-weight: 500;

    &:hover,
    &:focus {
      background-color: hsla(
        var(--color-primary-h),
        var(--color-primary-s),
        var(--color-primary-l),
        0.08
      );
      text-decoration: none;
    }
    
    /* Text */
    &.btn-text {
      color: var(--color-black);
      
      &:hover,
      &:focus {
        background-color: var(--color-contrast-lower);
      }
      
    }
  }
  
  /* Active */
  &:active {
    transform: translateY(2px);
  }
  
  /* Outline */
  &[class*="btn-outline"] {
    border-width: 2px;
    font-weight: 500;
    box-shadow: none;
  }
  

  /* Primary */
  &.btn-primary,
  &.btn-outline-primary {
    
    &:not(.btn-outline-primary) {
      background-color: var(--color-primary);      
    }

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px
        hsla(
          var(--color-primary-h),
          var(--color-primary-s),
          var(--color-primary-l),
          0.25
        ) !important;
    }
  }

  /* Icon inside btn */
  svg {
    margin-right: var(--space-xxs);
  }
  
  & + .btn {
    margin-left: var(--space-sm);
  }
}

/**
 * Checkbox / Radiobutton
 */
.custom-control {
  margin-bottom: var(--space-sm);
  padding-left: 0;
  padding-right: var(--space-xxxxs);

  &.custom-control-inline {
    margin-right: var(--space-sm);
  }

  /* Input */
  .custom-control-input {
    &:active {
      & + .custom-control-label {
        &:before {
          transform: scale(0.8);
        }
      }
    }

    &:focus,
    &:active {
      & + .custom-control-label {
        &:before {
          border-color: var(--color-primary);
          box-shadow: 0 0 0 3px
            hsla(
              var(--color-primary-h),
              var(--color-primary-s),
              var(--color-primary-l),
              0.2
            );
        }
      }
    }

    /* Checkbox */
    &:checked {
      & + .custom-control-label {
        &:before {
          background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PGcgY2xhc3M9J25jLWljb24td3JhcHBlcicgc3Ryb2tlLXdpZHRoPScyJyBmaWxsPScjZmZmZmZmJyBzdHJva2U9JyNmZmZmZmYnPjxwb2x5bGluZSBmaWxsPSdub25lJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBwb2ludHM9JzEsOSA1LDEzIDE1LDMgJyBkYXRhLWNhcD0nYnV0dCc+PC9wb2x5bGluZT48L2c+PC9zdmc+);
          background-repeat: no-repeat;
          background-size: var(--checkbox-marker-size);
          background-color: var(--color-primary);
          box-shadow: none;
          border-color: var(--color-primary);
        }
      }
    }

    &:checked:active,
    &:checked:focus {
      & + .custom-control-label {
        &:before {
          transform: none;
          transition: none;
          border-color: var(--color-primary);
          box-shadow: 0 0 0 3px
            hsla(
              var(--color-primary-h),
              var(--color-primary-s),
              var(--color-primary-l),
              0.2
            );
        }
      }
    }
  }

  /* Label */
  .custom-control-label {
    display: inline-flex;
    align-items: baseline;
    line-height: var(--checkbox-radio-line-height);
    user-select: none;
    cursor: pointer;
    font-size: 1.1rem;

    &:after {
      display: none;
    }

    &:before {
      content: "";
      position: relative;
      top: 0.25rem;
      left: auto;
      border-radius: var(--checkbox-radius);
      display: inline-block;
      vertical-align: middle;
      flex-shrink: 0;
      width: var(--checkbox-radio-size);
      height: var(--checkbox-radio-size);
      background-color: var(--color-bg);
      border-width: var(--checkbox-radio-border-width);
      border-color: var(--color-contrast-low);
      border-style: solid;
      margin-right: var(--checkbox-radio-gap);
      background-repeat: no-repeat;
      background-position: center;
      transition: border 0.2s, -webkit-transform 0.2s;
      transition: transform 0.2s, border 0.2s;
      transition: transform 0.2s, border 0.2s, -webkit-transform 0.2s;
    }

    &:hover {
      &:before {
        border-color: var(--color-contrast-medium);
      }
    }
  }

  /* Radio */
  &.custom-radio {
    .custom-control-input {
      &:checked {
        & + .custom-control-label {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Ccircle fill='hsl(220, 90%25, 56%25)' cx='12' cy='12' r='5'/%3E%3C/svg%3E");
            background-size: var(--space-md);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: var(--color-bg);
            box-shadow: none;
            border-color: var(--color-primary);
          }
        }
      }

      &:focus,
      &:active {
        & + .custom-control-label {
          &::before {
            box-shadow: 0 0 0 3px
              hsla(
                var(--color-primary-h),
                var(--color-primary-s),
                var(--color-primary-l),
                0.2
              );
          }
        }
      }
    }

    .custom-control-label {
      &:before {
        border-radius: 50%;
      }
    }
  }
}

/**
 * Choice Tag
 */
.choice-tag {
  padding-left: 0;
  padding-right: var(--space-xxxxs);

  &.custom-control-inline {
    margin-right: var(--space-sm);
  }

  &.custom-radio {
    &.choice-tag--small {
      .custom-control-label {
        padding: var(--space-xs) var(--space-md);
      }
    }

    &.choice-tag--icon {
      svg {
        width: 20px;
        height: 20px;
        margin-right: var(--space-xs);
        fill: var(--color-contrast-medium);
      }

      .custom-control-label {
        &:before {
          display: none;
        }
      }
    }

    .custom-control-label {
      display: inline-flex;
      align-items: center;
      padding: var(--space-sm) var(--space-md);
      border-radius: 50em;
      border: 2px solid var(--color-contrast-low);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: 0.2s;
      font-size: 1.1rem;

      &:hover {
        border-color: hsl(
          var(--color-contrast-low-h),
          var(--color-contrast-low-s),
          calc(var(--color-contrast-low-l) * 0.85)
        );
      }

      &:before {
        content: "";
        position: relative;
        left: auto;
        top: 0;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        flex-shrink: 0;
        width: var(--checkbox-radio-size);
        height: var(--checkbox-radio-size);
        background-color: var(--color-bg);
        border-width: var(--checkbox-radio-border-width);
        border-color: var(--color-contrast-low);
        border-style: solid;
        margin-right: var(--checkbox-radio-gap);
        background-repeat: no-repeat;
        background-position: center;
        transition: border 0.2s, -webkit-transform 0.2s;
        transition: transform 0.2s, border 0.2s;
        transition: transform 0.2s, border 0.2s, -webkit-transform 0.2s;
      }
    }
    .custom-control-input {
      &:checked {
        & + .custom-control-label {
          border-color: var(--color-primary);
          background-color: hsla(
            var(--color-primary-h),
            var(--color-primary-s),
            var(--color-primary-l),
            0.08
          );

          &:before {
            box-shadow: none;
          }
        }
      }

      &:active,
      &:focus {
        & + .custom-control-label {
          background-color: hsla(
            var(--color-primary-h),
            var(--color-primary-s),
            var(--color-primary-l),
            0.08
          );
          border-color: var(--color-primary);
          box-shadow: 0 0 0 2px
            hsla(
              var(--color-primary-h),
              var(--color-primary-s),
              var(--color-primary-l),
              0.2
            );

          &:before {
            box-shadow: none;
          }
        }
      }
    }
  }
}

/**
 * Dropdown
 */
.dropdown-menu {
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  background: var(--color-bg);
  transition: visibility 0s, opacity 0.2s;
  padding: var(--space-xxs) 0;

  .dropdown-item {
    cursor: pointer;
    user-select: none;
    padding: var(--space-xs) var(--space-lg) var(--space-xs) var(--space-md);

    &:hover {
      background-color: var(--color-contrast-lower);
    }

    &:active,
    &:focus {
      outline: none;
      background-color: hsla(
        var(--color-contrast-medium-h),
        var(--color-contrast-medium-s),
        var(--color-contrast-medium-l),
        0.2
      );
      color: var(--color-contrast-high);
    }
  }
}

/**
 * Lists
 */
.list-group {
  &.list-group--options {
    .list-group-item {
      padding: 0;
      border: 0 none;
      
      .custom-radio {
        margin-bottom: 0;
        
        .custom-control-label {
          display: flex;
          align-items: center;
          font-size: inherit;
          display: block;
          padding-top: var(--form-control-padding-y, 0.5em);
          padding-bottom: var(--form-control-padding-y, 0.5em);
          padding-left: var(--space-xs, 0.75em);
          padding-right: var(--form-control-padding-x, 0.75em);
          transition: all 0.2s ease;
          
          &:before {
            top: auto;
            left: auto;
            border-color: transparent;
            margin-right: var(--space-sm);
            background-color: transparent;
            height: 24px;
            width: 24px;
            box-shadow: none;
          }
          
          &:hover {
             background-color: hsla(
              var(--color-contrast-medium-h),
              var(--color-contrast-medium-s),
              var(--color-contrast-medium-l),
              0.1
            );
          }
        }
        
        &,medium {
          .custom-control-label {
            padding-top: calc(var(--space-sm, 0.5em) + 0.055em);
            padding-bottom: calc(var(--space-sm, 0.5em) + 0.055em);
          }
        }
      }
      
      .custom-control-input {
        &:checked {
          & + .custom-control-label {
            background-color: hsla(
              var(--color-primary-h),
              var(--color-primary-s),
              var(--color-primary-l),
              0.08
            );
            
            &:before {
              
              background-image: url("data:image/svg+xml,%3Csvg class='bi bi-check2' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' fill='hsl(220, 90%25, 56%25)' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
          }
        }
      }
    }
  }
}

/**
 * Accordion
 */
.accordion {
  .card {
    box-shadow: var(--shadow-sm);
    background-color: hsla(var(--color-bg-h),var(--color-bg-s),var(--color-bg-l),var(--bg-o));
    border-radius: var(--radius-md);
    border: 1px solid hsla(
      var(--color-contrast-low-h),
      var(--color-contrast-low-s),
      var(--color-contrast-low-l),
      0.50
    );
    
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: var(--space-sm);
      padding-bottom: var(--space-sm);
      padding-left: 1.25em !important;
      padding-right: 1.25em !important;
      background-color: var(--color-bg);
      border-color: transparent;
      color: var(--color-black);
      
      /* As button header for keyboard navigation */
      &.card-header--toggle {
        cursor: pointer;
        box-shadow: none !important;
        
        &:focus,
        &:active {
          background-color: var(--color-bg);
          color: var(--color-black);
          border-color: transparent;
          transform: translateY(0);
        }
        
        &:focus {
          background-color: hsla(
              var(--color-contrast-lower-h),
              var(--color-contrast-lower-s),
              var(--color-contrast-lower-l),
              0.70
            );
        }
      }
      
      .btn:not(.card-header--toggle) {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
        font-weight: 500;
        font-size: 0.77rem;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        
        svg {
          margin-left: var(--space-xs);
        }
      }
    }
    
    .card-footer {
      background-color: var(--color-bg);
      border-color: transparent;
      display: flex;
      align-items: center;
      padding-top: var(--space-xxs);
      
      &:last-child {
        border-radius: var(--radius-md);
      }
    }
    
    .card-title,
    .card-header--toggle {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 1.05rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;      
    }
    
    
  }
}